header{
     margin: -8px;
     background-color: aliceblue;
     align-items: center;
     display: flex;
     cursor: pointer;
}
body{
    background-color: darkgray;
}
.leftside{
    font-size: 40px;
    width: 0%;
    border: none;
    background-color: #ffffff00;
    
}
h1{
    width:100%;
    text-align: center;
    font-family: Courier New, monospace;
}
h3{
    font-family: Courier New, monospace;
    text-align: center;
}
.add-cat-btn{
    text-align: center;
    margin: 30px;
}
.add-cat-btn button{
    transition: 0.3s;
    font-family: Courier New, monospace;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: larger;
}
.add-cat-btn button:hover{
    transition: 0.3s;
    text-shadow: 2px 2px #6e6e6e;
    color: rgb(255, 255, 255);
    background-color: darkgray;
}

.cats-row{
    display: flex;
    justify-content: center;
   align-items: center;
}
.single-cat{
    padding: 20px;
    height: 200px;
    width: 300px;
}
.single-cat img{
    
    max-width: 300px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 10px;
    
}